h1{
    color: #111;
    font-family: 'Bad Script', cursive;
    font-size: 50px;
}
body{
    /*scheme id: http://colorschemedesigner.com/#4W41Tw0w0w0w0*/
    overflow-x:hidden;
    background: url('images/bg.jpg');
    background-size: cover;
    color: #aaa;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Bad Script', cursive;
}
a{
    color: #bbb;
}
.sidebar{
    background: url('images/sidebar.png');
    background-size: cover;
    color: #8390AA;
    position:  absolute;
    top: 0px;
    height: 100%;
    width: 180px;
    opacity: 100;
    z-index: 100;
}
.sidebar-alert{
    position:  absolute;
    top: 0px;
    height: 100%;
    width: 100px;
    z-index: 101;
}
.sidebar div{
    font-family: 'Bad Script', cursive;
    font-size: 30px;
    padding: 10px;
}
.sidebar div:hover{
    color: black;
    cursor: pointer;
}
#sidebar-left{
    left: -250px;
    background: url("images/sidebar.png") 99.999% center no-repeat;
    width: 195px;
}
#sidebar-alert-left{
    left: 0px;
}
#sidebar-right{
    right: -250px;
    text-align: right;
}
#sidebar-alert-right{
    right: 0px;
}
#container
{
    height: 100%;
    width: 100%;
    margin: 0px 200px 0px 200px;
    overflow: auto;
	left: 0px;
	top: 0px;
	z-index: 0;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
}

#vis
{
	margin: 10px auto;
	height: 480px;
}
#footer{
    color: #111;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.option{
    color: #FFF;
    font-size: 20px;
    font-family: arial;
}